#business_name_generator .btn-like-wrapper button {
   border: none;
   background-color: transparent;
   padding: 0;
   margin-right: 5px;
}

#business_name_generator .btn-like-wrapper img {
   width: 18px;
   height: 18px;
}

#business_name_generator .btn-primary {
   background-color: #ff9100;
   border: none;
}

#business_name_generator .btn-primary:hover {
   background-color: #ec8600;
   box-shadow: 0 .2rem .5rem 0 #ec8600;
}

#business_name_generator input[type=range] {
   transform: none;
}

#business_name_generator .search-input,
#business_name_generator #filter_button,
#business_name_generator .input-group .btn {
   padding: 14px;
}

#business_name_generator .search-input {
   box-shadow: 0 .125rem .5rem rgba(0,0,0,.075);
}

#business_name_generator .input-group .btn {
   box-shadow: 0 .125rem .5rem rgba(0,0,0,.075);
}

#business_name_generator .btn {
   white-space: nowrap;
}

#business_name_generator .btn-outline {
   border: 1px solid rgb(196, 196, 196);
}

#business_name_generator .btn-outline:hover {
   border: 1px solid black;
}

#business_name_generator .form-control:active,
#business_name_generator .form-control:focus,
#business_name_generator .btn:focus {
   box-shadow: none !important;
   outline: 0px !important;
}

#business_name_generator .form-control:active,
#business_name_generator .form-control:focus {
   border: 1px solid black;
}

#business_name_generator .filter-container {
   position: relative;
}

#business_name_generator .filter-modal {
   position: absolute;
   background-color: white;
   z-index: 2;
   right: 0;
   margin-top: 10px;
   width: 600px;
}

#business_name_generator #result a {
   text-decoration: none;
   color: black;
}

#business_name_generator #result a:hover {
   color: #ff9100;
}

#business_name_generator #result .result-item:nth-child(odd) {
   background-color: #f9f9f9;
}

#business_name_generator .filter-modal .form-check label {
   cursor: pointer;
}

#business_name_generator .form-check-input:checked {
   background-color: #ff9100;
   border-color: #ff9100;
}

#business_name_generator .form-range::-webkit-slider-thumb {
   background: #ff9100;
}

#business_name_generator .form-range::-moz-range-thumb {
   background: gray;
}

#business_name_generator .form-range::-ms-thumb {
   background: gray;
}

@media (max-width: 468px) {
   #business_name_generator .input-group {
      display: block;
   }

   #business_name_generator .input-group .search-input {
      width: 100%;
      border-radius: 0.5rem;
      margin-bottom: 10px;
   }

   #business_name_generator .input-group .btn {
      width: 100%;
      border-radius: 0.5rem;
   }

   #business_name_generator .filter-modal {
      width: 70vw;
   }
}